
  <%-await include('templates/hero', { 
    title: 'Project Documentation', 
    subtitle: 'Learn how this starter project can teach you everything you need to know...' 
  }) %>

  <div class="container px-4 py-5">
    <h2 class="pb-2 border-bottom">Project Structure</h2>

    <div class="row row-cols-1 row-cols-md-2 align-items-md-top g-5 py-5">
      <div class="d-flex flex-column align-items-start gap-2">
        <h3 class="fw-bold">Project Directory</h3>
        <p class="text-muted">Your project directory should look similar to the following:</p>
      </div>
      <div class="row row-cols-1 row-cols-sm-2 g-4">
        <ul>
          <li>
            app
            <ul>
              <li>routes</li>
              <li>services</li>
              <li>static</li>
              <li>
                ui
                <ul>
                  <li>components</li>
                  <li>views</li>
                </ul>
              </li>
            </ul>
          </li>
          <li>node_modules</li>
          <li>index.js</li>
          <li>package.json</li>
          <li>project.json</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container px-4 py-5">
    <h2 class="pb-2 border-bottom">Routes</h2>

    <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
      Routes info
    </div>
  </div>

  <div class="container px-4 py-5">
    <h2 class="pb-2 border-bottom">Views</h2>

    <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
      Views info
    </div>
  </div>

  <div class="container px-4 py-5">
    <h2 class="pb-2 border-bottom">Components</h2>

    <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
      Components info
    </div>
  </div>

  <div class="container px-4 py-5">
    <h2 class="pb-2 border-bottom">Static Directory</h2>

    <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
      Static Directory info
    </div>
  </div>

  <div class="container px-4 py-5">
    <h2 class="pb-2 border-bottom">Services</h2>

    <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
      Services info
    </div>
  </div>