
<main class="mt-5">
  <div class="col-lg-10 mx-auto p-4 py-md-5">
    <h1>Get started with Panda</h1>
    <p class="fs-5 col-md-8">
      Now that you've created a new Panda project, let's show you how it all works!
    </p>

    <div class="mb-5">
      <a href="/docs" class="btn btn-primary btn-lg px-4">Docs</a>
    </div>

    <hr class="col-3 col-md-2 mb-5">

    <div class="row g-5">
      <div class="col-md-6">
        <h2>What is this?</h2>
        <p>
          This is a Panda Starter Project, which is a sample template to help get you familiar with Panda and how to best use it.
        </p>
      </div>

      <div class="col-md-6">
        <h2>Guides</h2>
        <p>Read more detailed instructions and documentation on using or contributing to Bootstrap.</p>
        <ul class="icon-list ps-0">
          <li class="d-flex align-items-start mb-1"><a href="/docs">Local Project Docs</a></li>
          <li class="d-flex align-items-start mb-1"><a href="https://adampuzio.github.io/panda-docs/" target="_blank">Panda Docs</a></li>
          <li class="d-flex align-items-start mb-1"><a href="https://moleculer.services/docs/0.14/" target="_blank">Moleculer Docs</a></li>
          <li class="d-flex align-items-start mb-1"><a href="https://getbootstrap.com/docs/5.2/getting-started/introduction/" target="_blank">Bootstrap Docs</a></li>
        </ul>
      </div>
    </div>
  </div>
</main>
