
  <header class="p-1 text-bg-dark fixed-top">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <img src="/assets/images/panda.png" alt="Bootstrap" width="24" height="24">
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/" class="nav-link px-2 text-white">Home</a></li>
          <li><a href="/docs" class="nav-link px-2 text-white">Docs</a></li>
          <li><a href="/metrics" class="nav-link px-2 text-white">Metrics</a></li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Examples
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/articles/12345">Article Page</a></li>
              <li><a class="dropdown-item" href="/login">Login Page</a></li>
              <li><h6 class="dropdown-header">Errors</h6></li>
              <li><a class="dropdown-item" href="/error">500 Page</a></li>
              <li><a class="dropdown-item" href="/kaiser-soze">404 Page</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Learn
            </a>
            <ul class="dropdown-menu">
              <li><h6 class="dropdown-header">Panda</h6></li>
              <li><a class="dropdown-item" href="https://adampuzio.github.io/panda-docs/" target="_blank">Docs</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><h6 class="dropdown-header">Moleculer</h6></li>
              <li><a class="dropdown-item" href="https://moleculer.services/" target="_blank">Official Site</a></li>
              <li><a class="dropdown-item" href="https://moleculer.services/docs/0.14/" target="_blank">Docs</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><h6 class="dropdown-header">Bootstrap</h6></li>
              <li><a class="dropdown-item" href="https://getbootstrap.com/" target="_blank">Official Site</a></li>
              <li><a class="dropdown-item" href="https://getbootstrap.com/docs/5.2/getting-started/introduction/" target="_blank">Docs</a></li>
              <li><a class="dropdown-item" href="/bootstrap/cheatsheet">Cheatsheet</a></li>
            </ul>
          </li>
        </ul>

        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li><a href="https://github.com/AdamPuzio/panda" class="nav-link px-2 text-white" target="_blank">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
              <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
            </svg>
          </a></li>
        </ul>

      </div>
    </div>
  </header>